<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hui.mapper.examine.SystemUserMapper">
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultType="SystemUser">
        select user_id,
               user_name,
               real_name,
               password,
               code,
               role_id
        from system_user
        where user_id = #{userId,jdbcType=BIGINT}
    </select>
    <select id="selectSelective" resultType="SystemUser">
        select su.user_id userId,
        su.user_name userName,
        su.real_name realName,
        su.password password,
        su.code code,
        su.role_id roleId,
        sr.role_name
        from system_user su
        join system_role sr on su.role_id = sr.role_id
        where 1=1
        <if test="userName != null &amp;&amp; userName != ''">
            and user_name like "%"#{userName}"%"
        </if>
        <if test="code != null  &amp;&amp; code != ''">
            and code=#{code}
        </if>
        <if test="realName != null &amp;&amp; realName != ''">
            and real_name like "%"#{realName}"%"
        </if>
    </select>
    <select id="selectByRealName" resultType="SystemUser">
        select *
        from system_user
        where real_name = #{realName,jdbcType=VARCHAR}
          AND user_name = #{userName,jdbcType=VARCHAR}
    </select>
    <select id="selectUser" resultType="SystemUser">
        select su.user_id userId,
            su.user_name userName,
            su.real_name realName,
            su.password password,
            su.code code,
            su.role_id roleId,
            sr.role_name
        from system_user su
            join system_role sr
        on su.role_id = sr.role_id
        where user_name = #{userName,jdbcType=VARCHAR}
          and password = #{password,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from system_user
        where user_id = #{userId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="user_id" keyProperty="userId" parameterType="com.hui.entity.examine.SystemUser"
            useGeneratedKeys="true">
        insert into system_user (user_name, real_name, `password`,
                                 code, role_id)
        values (#{userName,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
                #{code,jdbcType=VARCHAR}, #{roleId,jdbcType=BIGINT})
    </insert>
    <insert id="insertSelective" keyColumn="user_id" keyProperty="userId"
            parameterType="com.hui.entity.examine.SystemUser" useGeneratedKeys="true">
        insert into system_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null">
                user_name,
            </if>
            <if test="realName != null">
                real_name,
            </if>
            <if test="password != null">
                `password`,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="realName != null">
                #{realName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hui.entity.examine.SystemUser">
        update system_user
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="realName != null">
                real_name = #{realName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                `password` = #{password,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                role_id = #{roleId,jdbcType=BIGINT},
            </if>
        </set>
        where user_id = #{userId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hui.entity.examine.SystemUser">
        update system_user
        set user_name  = #{userName,jdbcType=VARCHAR},
            real_name  = #{realName,jdbcType=VARCHAR},
            `password` = #{password,jdbcType=VARCHAR},
            code       = #{code,jdbcType=VARCHAR},
            role_id    = #{roleId,jdbcType=BIGINT}
        where user_id = #{userId,jdbcType=BIGINT}
    </update>
</mapper>